

header{
    width: auto;
    height: 80px;
    grid-column: 1 / -1;
    justify-items: center;
    background: #2F283A;
}


ul {
    margin-top: 80%;
    writing-mode: vertical-lr;
    display: flex;
    transform: rotate( 180deg );
}

li{
    margin-top:30px;
}

.sidepanel {
    position: fixed;
    z-index: 1;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 100px;
    background-color: #f8f8f8;
    overflow-x: hidden; /* Disable horizontal scroll */
    border-right: 1px solid gray;
}

.sidea {
    margin: 6px;
    padding: 6px 8px 6px 10px;
    display: block;
}

.sideprofile {
    padding: 0;
    border-radius: 15px;
}

a:hover {
    background-color: #fff;
}

.logo{
    max-width: 20px;
    transform: rotate( 180deg );
}