
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
body{
    background-image: url(keyart.png);
}

.grid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}