.bodyLogin {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.8)),
      to(rgba(0, 0, 0, 0.8))
    ),
    url("../img/bg/allGameBg.jpg");
  background-image: -o-linear-gradient(
      rgba(0, 0, 0, 0.8) 80%,
      rgba(0, 0, 0, 0.8) 80%
    ),
    url("../img/bg/allGameBg.jpg");
  background-image: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.5) 80%,
      rgba(0, 0, 0, 0.5) 80%
    ),
    url("../img/bg/allGameBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
  .loginContainer {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
  }
  .login {
    width: 500px;
    border: 2px solid $tertiary-color-light;
    border-radius: 15px;
    padding: 30px;
    background-image: url("../img/bg/48356144_1928080907246342_5804713124485398528_n.png");
    // background-color: #add8e6;
    color: $primary-color-dark;
    grid-template-columns: 100%;
    gap: 10px;
    &Inputs {
      border: 2px solid rgb(255, 255, 255);
      padding: 5px;
      border-radius: 5px;
      background: rgb(255, 255, 255);
      grid-template-columns: 10% 90%;
      animation: left2right 1s ease-out;
      .icon {
        fill: $secondary-color-light;
        justify-self: start;
        align-self: center;
        width: 30px;
        height: 30px;
        // animation: left2right 1s;
      }
      input {
        position: relative;
        border: none;
        background-color: rgba(0, 0, 0, 0);
        outline: none;
        // height: 100%;
        width: 90%;
      }
    }
  }
  button {
    @include buttons;
    justify-self: end;
    background-color: $secondary-color-light;
    width: 150px;
    height: 50px;
    border: 2px solid $tertiary-color-light;
    transition: 0.3s;
    &:hover {
      border-color: $secondary-color-light;
      background-color: $tertiary-color-light;
    }
  }
}

.error {
  background: #f2dede;
  color: #a94442;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  // margin: 20px auto;
}
