.loginPage {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.5))
    ),
    url("../img/bg/allGameBg.jpg");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/bg/allGameBg.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/bg/allGameBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
  .loginContainer {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%);
  }
  .login {
    width: 500px;
    border: 2px solid $tertiary-color-light;
    border-radius: 15px;
    padding: 30px;
    background-image: url("../img/bg/48356144_1928080907246342_5804713124485398528_n.png");
    // background-color: #add8e6;
    color: $primary-color-dark;
    grid-template-columns: 100%;
    gap: 10px;
  }
  button {
    @include buttons;
    justify-self: end;
    background-color: $secondary-color-light;
    width: 150px;
    height: 50px;
    border: 2px solid $tertiary-color-light;
    transition: 0.3s;
    &:hover {
      border-color: $secondary-color-light;
      background-color: $tertiary-color-light;
    }
  }
  .loginInputs {
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    grid-template-columns: 10% 90%;
    .icon {
      fill: $secondary-color-light;
      justify-self: start;
    }
    input {
      position: relative;
      border: none;
      background-color: rgba(0, 0, 0, 0);
      outline: none;
      height: 100%;
      width: 90%;
    }
  }
  .footer {
    position: fixed;
    bottom: 0;
    background-color: $primary-color-dark;
    width: 100%;
    height: 80px;
    font-size: 1rem;
    padding: 20px;
    a {
      text-decoration: none;
      margin: 0 auto;
      span {
        vertical-align: middle;
      }
    }
  }
}

.icon {
  width: 30px;
  height: 30px;
  fill: $secondary-color-light;
  &-facebook:hover {
    fill: #1877f2;
    transform: scale(1.2);
  }
  &-instagram:hover {
    fill: #e4405f;
    transform: scale(1.2);
  }
  &-twitter:hover {
    fill: #1da1f2;
    transform: scale(1.2);
  }
  &-discord:hover {
    fill: #7289da;
    transform: scale(1.2);
  }
  &-github:hover {
    fill: #444444;
    transform: scale(1.2);
  }
}

.socialMedia {
  grid-column: 1 / 3;
}

.error {
  background: #f2dede;
  color: #a94442;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 20px auto;
}
