.bodyMain {
  background-image: url("../img/bg/warframe-min.png");
  background-size: cover;

  .headerMain {
    grid-column: 1 / -1;
    height: 100vh;
    justify-items: stretch;
    align-items: stretch;
    overflow: hidden;

    .sideBar {
      grid-row: 2 / 3;
      background-color: rgba($secondary-color-dark, 0.8);
    }
  }

  .gameLabel {
    height: 30px;
    width: 90%;
    margin: 3px auto;
    background-color: $tertiary-color;
    color: white;
    outline: none;
    border-radius: 20px;
    transition: 0.1s;
    animation: left2rightMain 1s ease-in-out;
    span {
      display: inline-block;
      // width: 225px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: clip;
      font-size: 0.9rem;
      animation: displayers 1.5s ease-in;
    }
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
    &Container {
      height: 100%;
    }
  }

  .gameIcon {
    position: relative;
    height: 25px;
    width: 25px;
    top: 50%;
    left: 2.5%;
    margin-right: 15px;
    transform: translate(0, -50%);
    // animation: left2rightMain 1s ease-out;
  }
}
