.inventory {
  &Bar {
    position: relative;
    display: none;
    overflow: auto;
    height: 94vh;
    padding: 50px;
    padding-top: 300px;
    margin: 0 30px 0 30px;

    &::-webkit-scrollbar {
      display: none;
    }

    &Container {
      grid-column: 2 / 6;
      background-image: linear-gradient(
        to top,
        rgba($primary-color-dark, 1),
        rgba($primary-color-light, 0)
      );
      &::before {
        content: "";
        width: 100%;
        position: absolute;
        height: 100px;
        z-index: 1;
        background: linear-gradient(
          $primary-color-dark,
          rgba($secondary-color, 0.001)
        ); /* transparent keyword is broken in Safari */
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        // z-index: 1000;
        height: 100px;
        background: linear-gradient(
          rgba($secondary-color, 0.001),
          rgba($primary-color-dark, 1)
        ); /* transparent keyword is broken in Safari */
      }
    }
  }

  &Heading {
    grid-column: 1 / -1;
    position: relative;
    height: 100%;
    width: 1000px;
    margin: 0 auto;
    h1 {
      display: inline;
      margin-left: 50px;
      font-size: 2.8rem;
    }
  }

  &Items {
    margin: 0 auto;
    margin-top: 50px;
    grid-column: 1 / -1;
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(4, 150px);
    justify-items: stretch;
    align-items: stretch;
    gap: 20px;
  }

  &Icon {
    display: inline-block;
    width: 200px;
    height: auto;
    border: 3px solid $tertiary-color;
    border-radius: 20%;
  }
}

.item {
  &Container {
    border: 5px solid $tertiary-color;
    background-color: $primary-color;
  }
  &Img {
    position: relative;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
    width: 130px;
    margin: 0 auto;
  }
  &Quantity {
    margin-left: 5px;
  }
}

.name {
  margin-left: 0px;
  justify-self: center;
  align-self: center;
}

.activeTab {
  display: grid;
}
