nav {
  height: 60px;
  grid-column: 1 / -1;
  background-color: $primary-color;
  .logo {
    justify-self: center;
    align-self: center;
    height: 50px;
    width: 50px;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: $primary-color-dark;
  width: 100%;
  height: 80px;
  font-size: 1rem;
  padding: 20px;
  a {
    text-decoration: none;
    margin: 0 auto;
    color: #fff;
    span {
      vertical-align: middle;
    }
  }

  .socialMedia {
    grid-column: 1 / 3;
    .icon {
      width: 30px;
      height: 30px;
      fill: $secondary-color-light;
      color: $secondary-color-light;
      transition: 0.3s;
      // z-index: 100;
      &-facebook:hover {
        fill: #1877f2;
        transform: scale(1.2);
      }
      &-instagram:hover {
        fill: #e4405f;
        transform: scale(1.2);
      }
      &-twitter:hover {
        fill: #1da1f2;
        transform: scale(1.2);
      }
      &-discord:hover {
        fill: #7289da;
        transform: scale(1.2);
      }
      &-github:hover {
        fill: rgb(150, 150, 150);
        transform: scale(1.2);
      }
    }
  }
  .details {
    grid-template-columns: 30% 30% 30%;
    justify-items: center;
  }
}
